
# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 19
 + FPS: 3.70
 + Milliseconds per frame: $270.006 \pm 1.005$
 + Best  frame: 262.98 ms
 + Worst frame: 277.73 ms


## Intrinsic optimizations
 + Number of tests: 223
 + FPS: 44.57
 + Milliseconds per frame: $22.435 \pm 0.024$
 + Best  frame: 22.08 ms
 + Worst frame: 24.32 ms


## Automatic vectorization by compiler
 + Number of tests: 230
 + FPS: 45.86
 + Milliseconds per frame: $21.804 \pm 0.031$
 + Best  frame: 21.40 ms
 + Worst frame: 24.46 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 128
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 19
 + FPS: 3.69
 + Milliseconds per frame: $270.722 \pm 0.665$
 + Best  frame: 266.08 ms
 + Worst frame: 277.97 ms


## Intrinsic optimizations
 + Number of tests: 222
 + FPS: 44.37
 + Milliseconds per frame: $22.536 \pm 0.031$
 + Best  frame: 22.14 ms
 + Worst frame: 25.49 ms


## Automatic vectorization by compiler
 + Number of tests: 164
 + FPS: 32.61
 + Milliseconds per frame: $30.661 \pm 0.053$
 + Best  frame: 29.82 ms
 + Worst frame: 33.87 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 96
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 19
 + FPS: 3.74
 + Milliseconds per frame: $267.508 \pm 0.733$
 + Best  frame: 263.66 ms
 + Worst frame: 277.89 ms


## Intrinsic optimizations
 + Number of tests: 222
 + FPS: 44.31
 + Milliseconds per frame: $22.570 \pm 0.026$
 + Best  frame: 22.25 ms
 + Worst frame: 24.54 ms


## Automatic vectorization by compiler
 + Number of tests: 210
 + FPS: 41.83
 + Milliseconds per frame: $23.907 \pm 0.033$
 + Best  frame: 23.30 ms
 + Worst frame: 26.30 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 48
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 19
 + FPS: 3.72
 + Milliseconds per frame: $268.869 \pm 0.758$
 + Best  frame: 265.97 ms
 + Worst frame: 278.64 ms


## Intrinsic optimizations
 + Number of tests: 223
 + FPS: 44.47
 + Milliseconds per frame: $22.486 \pm 0.033$
 + Best  frame: 21.93 ms
 + Worst frame: 25.02 ms


## Automatic vectorization by compiler
 + Number of tests: 221
 + FPS: 44.17
 + Milliseconds per frame: $22.642 \pm 0.034$
 + Best  frame: 22.25 ms
 + Worst frame: 25.33 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 19
 + FPS: 3.75
 + Milliseconds per frame: $266.754 \pm 0.727$
 + Best  frame: 261.62 ms
 + Worst frame: 273.68 ms


## Intrinsic optimizations
 + Number of tests: 222
 + FPS: 44.36
 + Milliseconds per frame: $22.542 \pm 0.037$
 + Best  frame: 21.85 ms
 + Worst frame: 24.56 ms


## Automatic vectorization by compiler
 + Number of tests: 228
 + FPS: 45.41
 + Milliseconds per frame: $22.023 \pm 0.046$
 + Best  frame: 21.08 ms
 + Worst frame: 25.58 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 112
 + FPS: 3.73
 + Milliseconds per frame: $268.076 \pm 0.276$
 + Best  frame: 262.19 ms
 + Worst frame: 277.23 ms


## Intrinsic optimizations
 + Number of tests: 1335
 + FPS: 44.48
 + Milliseconds per frame: $22.482 \pm 0.010$
 + Best  frame: 21.94 ms
 + Worst frame: 25.58 ms


## Automatic vectorization by compiler
 + Number of tests: 1374
 + FPS: 45.80
 + Milliseconds per frame: $21.834 \pm 0.014$
 + Best  frame: 21.12 ms
 + Worst frame: 26.17 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 64
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 112
 + FPS: 3.72
 + Milliseconds per frame: $269.174 \pm 0.393$
 + Best  frame: 262.92 ms
 + Worst frame: 282.59 ms


## Intrinsic optimizations
 + Number of tests: 688
 + FPS: 22.90
 + Milliseconds per frame: $43.660 \pm 0.025$
 + Best  frame: 42.61 ms
 + Worst frame: 47.45 ms


## Automatic vectorization by compiler
 + Number of tests: 580
 + FPS: 19.32
 + Milliseconds per frame: $51.747 \pm 0.053$
 + Best  frame: 49.93 ms
 + Worst frame: 59.26 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 128
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 112
 + FPS: 3.73
 + Milliseconds per frame: $268.197 \pm 0.320$
 + Best  frame: 262.98 ms
 + Worst frame: 279.17 ms


## Intrinsic optimizations
 + Number of tests: 690
 + FPS: 22.99
 + Milliseconds per frame: $43.505 \pm 0.031$
 + Best  frame: 42.26 ms
 + Worst frame: 47.56 ms


## Automatic vectorization by compiler
 + Number of tests: 397
 + FPS: 13.22
 + Milliseconds per frame: $75.665 \pm 0.073$
 + Best  frame: 73.81 ms
 + Worst frame: 81.99 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 110
 + FPS: 3.65
 + Milliseconds per frame: $273.899 \pm 0.458$
 + Best  frame: 265.99 ms
 + Worst frame: 293.45 ms


## Intrinsic optimizations
 + Number of tests: 701
 + FPS: 23.33
 + Milliseconds per frame: $42.856 \pm 0.039$
 + Best  frame: 41.12 ms
 + Worst frame: 47.33 ms


## Automatic vectorization by compiler
 + Number of tests: 775
 + FPS: 25.82
 + Milliseconds per frame: $38.733 \pm 0.036$
 + Best  frame: 37.59 ms
 + Worst frame: 44.56 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 18
 + FPS: 3.51
 + Milliseconds per frame: $285.205 \pm 23.275$
 + Best  frame: 245.18 ms
 + Worst frame: 558.24 ms


## Intrinsic optimizations
 + Number of tests: 126
 + FPS: 25.09
 + Milliseconds per frame: $39.852 \pm 0.040$
 + Best  frame: 39.64 ms
 + Worst frame: 42.69 ms


## Automatic vectorization by compiler
 + Number of tests: 191
 + FPS: 38.17
 + Milliseconds per frame: $26.199 \pm 0.014$
 + Best  frame: 26.11 ms
 + Worst frame: 28.44 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 17
 + FPS: 3.37
 + Milliseconds per frame: $296.630 \pm 27.630$
 + Best  frame: 244.80 ms
 + Worst frame: 554.19 ms


## Intrinsic optimizations
 + Number of tests: 166
 + FPS: 33.10
 + Milliseconds per frame: $30.214 \pm 0.025$
 + Best  frame: 30.01 ms
 + Worst frame: 32.54 ms


## Automatic vectorization by compiler
 + Number of tests: 192
 + FPS: 38.30
 + Milliseconds per frame: $26.107 \pm 0.014$
 + Best  frame: 26.05 ms
 + Worst frame: 28.42 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 19
 + FPS: 3.72
 + Milliseconds per frame: $268.646 \pm 17.302$
 + Best  frame: 245.15 ms
 + Worst frame: 556.88 ms


## Intrinsic optimizations
 + Number of tests: 207
 + FPS: 41.30
 + Milliseconds per frame: $24.215 \pm 0.017$
 + Best  frame: 24.00 ms
 + Worst frame: 26.46 ms


## Automatic vectorization by compiler
 + Number of tests: 192
 + FPS: 38.29
 + Milliseconds per frame: $26.118 \pm 0.018$
 + Best  frame: 26.05 ms
 + Worst frame: 28.39 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 18
 + FPS: 3.46
 + Milliseconds per frame: $289.294 \pm 24.558$
 + Best  frame: 244.57 ms
 + Worst frame: 558.10 ms


## Intrinsic optimizations
 + Number of tests: 158
 + FPS: 31.54
 + Milliseconds per frame: $31.708 \pm 0.025$
 + Best  frame: 31.59 ms
 + Worst frame: 34.05 ms


## Automatic vectorization by compiler
 + Number of tests: 192
 + FPS: 38.29
 + Milliseconds per frame: $26.115 \pm 0.013$
 + Best  frame: 26.07 ms
 + Worst frame: 28.35 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 17
 + FPS: 3.38
 + Milliseconds per frame: $295.597 \pm 27.301$
 + Best  frame: 244.18 ms
 + Worst frame: 556.46 ms


## Intrinsic optimizations
 + Number of tests: 203
 + FPS: 40.45
 + Milliseconds per frame: $24.719 \pm 0.022$
 + Best  frame: 24.61 ms
 + Worst frame: 27.11 ms


## Automatic vectorization by compiler
 + Number of tests: 192
 + FPS: 38.25
 + Milliseconds per frame: $26.144 \pm 0.020$
 + Best  frame: 26.07 ms
 + Worst frame: 29.14 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 19
 + FPS: 3.67
 + Milliseconds per frame: $272.742 \pm 18.729$
 + Best  frame: 245.16 ms
 + Worst frame: 551.87 ms


## Intrinsic optimizations
 + Number of tests: 210
 + FPS: 41.91
 + Milliseconds per frame: $23.859 \pm 0.018$
 + Best  frame: 23.76 ms
 + Worst frame: 26.23 ms


## Automatic vectorization by compiler
 + Number of tests: 192
 + FPS: 38.20
 + Milliseconds per frame: $26.177 \pm 0.023$
 + Best  frame: 26.09 ms
 + Worst frame: 29.46 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 38
 + FPS: 3.78
 + Milliseconds per frame: $264.309 \pm 10.587$
 + Best  frame: 245.12 ms
 + Worst frame: 558.94 ms


## Intrinsic optimizations
 + Number of tests: 419
 + FPS: 41.87
 + Milliseconds per frame: $23.882 \pm 0.010$
 + Best  frame: 23.76 ms
 + Worst frame: 26.21 ms


## Automatic vectorization by compiler
 + Number of tests: 381
 + FPS: 38.07
 + Milliseconds per frame: $26.267 \pm 0.013$
 + Best  frame: 26.19 ms
 + Worst frame: 29.17 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 32
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 39
 + FPS: 3.88
 + Milliseconds per frame: $257.878 \pm 9.910$
 + Best  frame: 243.26 ms
 + Worst frame: 553.07 ms


## Intrinsic optimizations
 + Number of tests: 754
 + FPS: 75.39
 + Milliseconds per frame: $13.265 \pm 0.003$
 + Best  frame: 13.21 ms
 + Worst frame: 15.07 ms


## Automatic vectorization by compiler
 + Number of tests: 581
 + FPS: 58.09
 + Milliseconds per frame: $17.216 \pm 0.015$
 + Best  frame: 17.14 ms
 + Worst frame: 23.20 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 39
 + FPS: 3.87
 + Milliseconds per frame: $258.435 \pm 9.326$
 + Best  frame: 243.96 ms
 + Worst frame: 555.33 ms


## Intrinsic optimizations
 + Number of tests: 750
 + FPS: 74.93
 + Milliseconds per frame: $13.346 \pm 0.006$
 + Best  frame: 13.28 ms
 + Worst frame: 15.30 ms


## Automatic vectorization by compiler
 + Number of tests: 689
 + FPS: 68.85
 + Milliseconds per frame: $14.525 \pm 0.004$
 + Best  frame: 14.46 ms
 + Worst frame: 16.50 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 256
Auto vectorization size: 64
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 38
 + FPS: 3.72
 + Milliseconds per frame: $269.105 \pm 12.857$
 + Best  frame: 245.99 ms
 + Worst frame: 559.79 ms


## Intrinsic optimizations
 + Number of tests: 117
 + FPS: 11.69
 + Milliseconds per frame: $85.532 \pm 0.049$
 + Best  frame: 85.09 ms
 + Worst frame: 89.32 ms


## Automatic vectorization by compiler
 + Number of tests: 346
 + FPS: 34.58
 + Milliseconds per frame: $28.917 \pm 0.020$
 + Best  frame: 28.74 ms
 + Worst frame: 32.31 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 21
 + FPS: 4.10
 + Milliseconds per frame: $244.119 \pm 0.520$
 + Best  frame: 243.15 ms
 + Worst frame: 253.86 ms


## Intrinsic optimizations
 + Number of tests: 377
 + FPS: 75.32
 + Milliseconds per frame: $13.277 \pm 0.007$
 + Best  frame: 13.22 ms
 + Worst frame: 15.06 ms


## Automatic vectorization by compiler
 + Number of tests: 346
 + FPS: 69.03
 + Milliseconds per frame: $14.486 \pm 0.006$
 + Best  frame: 14.42 ms
 + Worst frame: 16.43 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 38
 + FPS: 3.77
 + Milliseconds per frame: $264.954 \pm 11.786$
 + Best  frame: 244.37 ms
 + Worst frame: 557.54 ms


## Intrinsic optimizations
 + Number of tests: 752
 + FPS: 75.16
 + Milliseconds per frame: $13.305 \pm 0.005$
 + Best  frame: 13.23 ms
 + Worst frame: 15.17 ms


## Automatic vectorization by compiler
 + Number of tests: 691
 + FPS: 69.02
 + Milliseconds per frame: $14.489 \pm 0.003$
 + Best  frame: 14.44 ms
 + Worst frame: 16.51 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 1
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 40
 + FPS: 3.95
 + Milliseconds per frame: $252.966 \pm 7.635$
 + Best  frame: 243.36 ms
 + Worst frame: 549.47 ms


## Intrinsic optimizations
 + Number of tests: 487
 + FPS: 48.64
 + Milliseconds per frame: $20.558 \pm 0.007$
 + Best  frame: 20.51 ms
 + Worst frame: 22.69 ms


## Automatic vectorization by compiler
 + Number of tests: 690
 + FPS: 68.98
 + Milliseconds per frame: $14.496 \pm 0.003$
 + Best  frame: 14.45 ms
 + Worst frame: 16.28 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 80
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 40
 + FPS: 4.00
 + Milliseconds per frame: $250.136 \pm 6.315$
 + Best  frame: 243.19 ms
 + Worst frame: 496.37 ms


## Intrinsic optimizations
 + Number of tests: 754
 + FPS: 75.36
 + Milliseconds per frame: $13.270 \pm 0.004$
 + Best  frame: 13.22 ms
 + Worst frame: 15.29 ms


## Automatic vectorization by compiler
 + Number of tests: 677
 + FPS: 67.62
 + Milliseconds per frame: $14.789 \pm 0.004$
 + Best  frame: 14.74 ms
 + Worst frame: 16.82 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 80
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 41
 + FPS: 4.08
 + Milliseconds per frame: $245.007 \pm 0.584$
 + Best  frame: 243.17 ms
 + Worst frame: 258.13 ms


## Intrinsic optimizations
 + Number of tests: 750
 + FPS: 74.93
 + Milliseconds per frame: $13.346 \pm 0.008$
 + Best  frame: 13.21 ms
 + Worst frame: 15.21 ms


## Automatic vectorization by compiler
 + Number of tests: 676
 + FPS: 67.55
 + Milliseconds per frame: $14.803 \pm 0.006$
 + Best  frame: 14.74 ms
 + Worst frame: 16.77 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 39
 + FPS: 3.84
 + Milliseconds per frame: $260.280 \pm 0.458$
 + Best  frame: 257.80 ms
 + Worst frame: 270.31 ms


## Intrinsic optimizations
 + Number of tests: 393
 + FPS: 39.22
 + Milliseconds per frame: $25.496 \pm 0.027$
 + Best  frame: 24.76 ms
 + Worst frame: 28.25 ms


## Automatic vectorization by compiler
 + Number of tests: 320
 + FPS: 31.95
 + Milliseconds per frame: $31.297 \pm 0.072$
 + Best  frame: 30.10 ms
 + Worst frame: 45.48 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 21
 + FPS: 4.08
 + Milliseconds per frame: $245.361 \pm 0.927$
 + Best  frame: 244.22 ms
 + Worst frame: 263.85 ms


## Intrinsic optimizations
 + Number of tests: 376
 + FPS: 75.05
 + Milliseconds per frame: $13.325 \pm 0.005$
 + Best  frame: 13.28 ms
 + Worst frame: 15.15 ms


## Automatic vectorization by compiler
 + Number of tests: 346
 + FPS: 69.01
 + Milliseconds per frame: $14.490 \pm 0.006$
 + Best  frame: 14.43 ms
 + Worst frame: 16.37 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 20
 + FPS: 3.89
 + Milliseconds per frame: $256.990 \pm 0.599$
 + Best  frame: 255.17 ms
 + Worst frame: 267.32 ms


## Intrinsic optimizations
 + Number of tests: 350
 + FPS: 69.96
 + Milliseconds per frame: $14.293 \pm 0.015$
 + Best  frame: 14.07 ms
 + Worst frame: 17.52 ms


## Automatic vectorization by compiler
 + Number of tests: 323
 + FPS: 64.50
 + Milliseconds per frame: $15.503 \pm 0.011$
 + Best  frame: 15.29 ms
 + Worst frame: 17.25 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
FLOAT TYPE: double
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 18
 + FPS: 3.40
 + Milliseconds per frame: $293.705 \pm 1.295$
 + Best  frame: 283.15 ms
 + Worst frame: 299.20 ms


## Intrinsic optimizations
 + Number of tests: 168
 + FPS: 33.46
 + Milliseconds per frame: $29.883 \pm 0.023$
 + Best  frame: 29.48 ms
 + Worst frame: 31.62 ms


## Automatic vectorization by compiler
 + Number of tests: 131
 + FPS: 26.07
 + Milliseconds per frame: $38.362 \pm 0.419$
 + Best  frame: 36.03 ms
 + Worst frame: 57.27 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 18
 + FPS: 3.51
 + Milliseconds per frame: $284.863 \pm 1.029$
 + Best  frame: 280.71 ms
 + Worst frame: 300.42 ms


## Intrinsic optimizations
 + Number of tests: 313
 + FPS: 62.52
 + Milliseconds per frame: $15.995 \pm 0.013$
 + Best  frame: 15.63 ms
 + Worst frame: 17.95 ms


## Automatic vectorization by compiler
 + Number of tests: 287
 + FPS: 57.36
 + Milliseconds per frame: $17.435 \pm 0.025$
 + Best  frame: 17.03 ms
 + Worst frame: 20.51 ms


## Intrinsics on 8 threads
 + Number of tests: 1846
 + FPS: 369.14
 + Milliseconds per frame: $2.709 \pm 0.001$
 + Best  frame: 2.32 ms
 + Worst frame: 4.07 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 118
 + FPS: 3.91
 + Milliseconds per frame: $255.680 \pm 0.254$
 + Best  frame: 250.13 ms
 + Worst frame: 268.96 ms


## Intrinsic optimizations
 + Number of tests: 2102
 + FPS: 70.07
 + Milliseconds per frame: $14.272 \pm 0.008$
 + Best  frame: 13.86 ms
 + Worst frame: 17.76 ms


## Automatic vectorization by compiler
 + Number of tests: 1922
 + FPS: 64.05
 + Milliseconds per frame: $15.613 \pm 0.008$
 + Best  frame: 15.27 ms
 + Worst frame: 20.05 ms


## Intrinsics on 8 threads
 + Number of tests: 13783
 + FPS: 459.56
 + Milliseconds per frame: $2.176 \pm 0.001$
 + Best  frame: 1.83 ms
 + Worst frame: 7.36 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 36
 + FPS: 3.58
 + Milliseconds per frame: $279.084 \pm 12.927$
 + Best  frame: 257.59 ms
 + Worst frame: 636.77 ms


## Intrinsic optimizations
 + Number of tests: 656
 + FPS: 65.51
 + Milliseconds per frame: $15.264 \pm 0.062$
 + Best  frame: 14.97 ms
 + Worst frame: 55.73 ms


## Automatic vectorization by compiler
 + Number of tests: 599
 + FPS: 59.87
 + Milliseconds per frame: $16.702 \pm 0.010$
 + Best  frame: 16.53 ms
 + Worst frame: 19.19 ms


## Intrinsics on 16 threads
 + Number of tests: 4992
 + FPS: 499.25
 + Milliseconds per frame: $2.003 \pm 0.003$
 + Best  frame: 1.71 ms
 + Worst frame: 9.70 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
Number of threads: 4
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17 -fopt-info-vec -march=native -I./include
```


## No optimizations
 + Number of tests: 38
 + FPS: 3.76
 + Milliseconds per frame: $265.931 \pm 11.352$
 + Best  frame: 247.23 ms
 + Worst frame: 566.32 ms


## Intrinsic optimizations
 + Number of tests: 750
 + FPS: 74.92
 + Milliseconds per frame: $13.348 \pm 0.004$
 + Best  frame: 13.28 ms
 + Worst frame: 15.39 ms


## Automatic vectorization by compiler
 + Number of tests: 684
 + FPS: 68.33
 + Milliseconds per frame: $14.635 \pm 0.003$
 + Best  frame: 14.52 ms
 + Worst frame: 16.64 ms


## Intrinsics on 4 threads
 + Number of tests: 2765
 + FPS: 276.55
 + Milliseconds per frame: $3.616 \pm 0.001$
 + Best  frame: 3.55 ms
 + Worst frame: 7.09 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
Number of threads: 12
FLOAT TYPE: float
COMPILER: clang++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 62
 + FPS: 4.08
 + Milliseconds per frame: $245.217 \pm 0.227$
 + Best  frame: 244.55 ms
 + Worst frame: 258.24 ms


## Intrinsic optimizations
 + Number of tests: 1058
 + FPS: 70.52
 + Milliseconds per frame: $14.181 \pm 0.003$
 + Best  frame: 14.04 ms
 + Worst frame: 16.16 ms


## Automatic vectorization by compiler
 + Number of tests: 906
 + FPS: 60.38
 + Milliseconds per frame: $16.562 \pm 0.002$
 + Best  frame: 16.50 ms
 + Worst frame: 18.55 ms


## Intrinsics on 12 threads
 + Number of tests: 8201
 + FPS: 546.75
 + Milliseconds per frame: $1.829 \pm 0.000$
 + Best  frame: 1.78 ms
 + Worst frame: 2.72 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
Number of threads: 12
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 62
 + FPS: 4.07
 + Milliseconds per frame: $245.572 \pm 0.293$
 + Best  frame: 244.09 ms
 + Worst frame: 257.76 ms


## Intrinsic optimizations
 + Number of tests: 1124
 + FPS: 74.92
 + Milliseconds per frame: $13.347 \pm 0.004$
 + Best  frame: 13.25 ms
 + Worst frame: 15.70 ms


## Automatic vectorization by compiler
 + Number of tests: 1032
 + FPS: 68.80
 + Milliseconds per frame: $14.535 \pm 0.002$
 + Best  frame: 14.44 ms
 + Worst frame: 16.29 ms


## Intrinsics on 12 threads
 + Number of tests: 7881
 + FPS: 525.49
 + Milliseconds per frame: $1.903 \pm 0.000$
 + Best  frame: 1.73 ms
 + Worst frame: 4.51 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 246
 + FPS: 4.09
 + Milliseconds per frame: $244.582 \pm 0.061$
 + Best  frame: 244.12 ms
 + Worst frame: 257.64 ms


## Intrinsic optimizations
 + Number of tests: 4498
 + FPS: 74.97
 + Milliseconds per frame: $13.339 \pm 0.000$
 + Best  frame: 13.26 ms
 + Worst frame: 15.34 ms


## Automatic vectorization by compiler
 + Number of tests: 4124
 + FPS: 68.72
 + Milliseconds per frame: $14.551 \pm 0.001$
 + Best  frame: 14.48 ms
 + Worst frame: 16.71 ms


## Intrinsics on 8 threads
 + Number of tests: 28221
 + FPS: 470.37
 + Milliseconds per frame: $2.126 \pm 0.000$
 + Best  frame: 1.83 ms
 + Worst frame: 4.63 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 5
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: clang++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 246
 + FPS: 4.10
 + Milliseconds per frame: $244.106 \pm 0.055$
 + Best  frame: 243.28 ms
 + Worst frame: 254.53 ms


## Intrinsic optimizations
 + Number of tests: 4230
 + FPS: 70.50
 + Milliseconds per frame: $14.185 \pm 0.001$
 + Best  frame: 14.07 ms
 + Worst frame: 16.22 ms


## Automatic vectorization by compiler
 + Number of tests: 3622
 + FPS: 60.36
 + Milliseconds per frame: $16.567 \pm 0.002$
 + Best  frame: 16.50 ms
 + Worst frame: 18.67 ms


## Intrinsics on 8 threads
 + Number of tests: 28075
 + FPS: 467.95
 + Milliseconds per frame: $2.137 \pm 0.000$
 + Best  frame: 1.85 ms
 + Worst frame: 3.85 ms

# Test session
## General information:
```
RESOLUTION: 2048x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 4
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 27
 + FPS: 3.55
 + Milliseconds per frame: $281.336 \pm 0.514$
 + Best  frame: 280.22 ms
 + Worst frame: 294.44 ms


## Intrinsic optimizations
 + Number of tests: 500
 + FPS: 66.58
 + Milliseconds per frame: $15.020 \pm 0.006$
 + Best  frame: 14.83 ms
 + Worst frame: 16.91 ms


## Automatic vectorization by compiler
 + Number of tests: 459
 + FPS: 61.12
 + Milliseconds per frame: $16.361 \pm 0.007$
 + Best  frame: 16.28 ms
 + Worst frame: 18.57 ms


## Intrinsics on 8 threads
 + Number of tests: 3284
 + FPS: 438.02
 + Milliseconds per frame: $2.283 \pm 0.001$
 + Best  frame: 1.98 ms
 + Worst frame: 5.05 ms

# Test session
## General information:
```
RESOLUTION: 2048x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 4
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 27
 + FPS: 3.55
 + Milliseconds per frame: $281.335 \pm 0.477$
 + Best  frame: 280.12 ms
 + Worst frame: 292.61 ms


## Intrinsic optimizations
 + Number of tests: 501
 + FPS: 66.71
 + Milliseconds per frame: $14.990 \pm 0.007$
 + Best  frame: 14.81 ms
 + Worst frame: 16.97 ms


## Automatic vectorization by compiler
 + Number of tests: 460
 + FPS: 61.23
 + Milliseconds per frame: $16.333 \pm 0.006$
 + Best  frame: 16.25 ms
 + Worst frame: 18.35 ms


## Intrinsics on 8 threads
 + Number of tests: 3314
 + FPS: 441.89
 + Milliseconds per frame: $2.263 \pm 0.001$
 + Best  frame: 2.02 ms
 + Worst frame: 3.04 ms

# Test session
## General information:
```
RESOLUTION: 2048x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 2
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 27
 + FPS: 3.58
 + Milliseconds per frame: $279.122 \pm 0.475$
 + Best  frame: 277.07 ms
 + Worst frame: 288.68 ms


## Intrinsic optimizations
 + Number of tests: 446
 + FPS: 59.36
 + Milliseconds per frame: $16.847 \pm 0.010$
 + Best  frame: 16.58 ms
 + Worst frame: 19.07 ms


## Automatic vectorization by compiler
 + Number of tests: 459
 + FPS: 61.12
 + Milliseconds per frame: $16.362 \pm 0.005$
 + Best  frame: 16.28 ms
 + Worst frame: 18.21 ms


## Intrinsics on 8 threads
 + Number of tests: 2940
 + FPS: 392.00
 + Milliseconds per frame: $2.551 \pm 0.002$
 + Best  frame: 2.33 ms
 + Worst frame: 3.96 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 512
MM_PACKS: 1
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 31
 + FPS: 4.06
 + Milliseconds per frame: $246.042 \pm 0.523$
 + Best  frame: 244.48 ms
 + Worst frame: 259.08 ms


## Intrinsic optimizations
 + Number of tests: 364
 + FPS: 48.49
 + Milliseconds per frame: $20.622 \pm 0.012$
 + Best  frame: 20.52 ms
 + Worst frame: 23.37 ms


## Automatic vectorization by compiler
 + Number of tests: 509
 + FPS: 67.83
 + Milliseconds per frame: $14.742 \pm 0.013$
 + Best  frame: 14.50 ms
 + Worst frame: 16.95 ms


## Intrinsics on 8 threads
 + Number of tests: 2343
 + FPS: 312.40
 + Milliseconds per frame: $3.201 \pm 0.003$
 + Best  frame: 2.96 ms
 + Worst frame: 4.93 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 256
MM_PACKS: 1
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 31
 + FPS: 4.07
 + Milliseconds per frame: $245.400 \pm 0.453$
 + Best  frame: 244.21 ms
 + Worst frame: 257.05 ms


## Intrinsic optimizations
 + Number of tests: 221
 + FPS: 29.42
 + Milliseconds per frame: $33.987 \pm 0.017$
 + Best  frame: 33.87 ms
 + Worst frame: 36.48 ms


## Automatic vectorization by compiler
 + Number of tests: 517
 + FPS: 68.82
 + Milliseconds per frame: $14.531 \pm 0.005$
 + Best  frame: 14.45 ms
 + Worst frame: 16.47 ms


## Intrinsics on 8 threads
 + Number of tests: 1614
 + FPS: 215.24
 + Milliseconds per frame: $4.646 \pm 0.002$
 + Best  frame: 4.41 ms
 + Worst frame: 6.37 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 256
MM_PACKS: 2
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 31
 + FPS: 4.07
 + Milliseconds per frame: $245.782 \pm 0.446$
 + Best  frame: 244.35 ms
 + Worst frame: 256.05 ms


## Intrinsic optimizations
 + Number of tests: 349
 + FPS: 46.40
 + Milliseconds per frame: $21.550 \pm 0.009$
 + Best  frame: 21.43 ms
 + Worst frame: 23.59 ms


## Automatic vectorization by compiler
 + Number of tests: 512
 + FPS: 68.24
 + Milliseconds per frame: $14.654 \pm 0.004$
 + Best  frame: 14.59 ms
 + Worst frame: 16.41 ms


## Intrinsics on 8 threads
 + Number of tests: 2449
 + FPS: 326.58
 + Milliseconds per frame: $3.062 \pm 0.002$
 + Best  frame: 2.95 ms
 + Worst frame: 4.60 ms

# Test session
## General information:
```
RESOLUTION: 1920x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 256
MM_PACKS: 3
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 31
 + FPS: 4.02
 + Milliseconds per frame: $248.869 \pm 0.459$
 + Best  frame: 247.33 ms
 + Worst frame: 259.54 ms


## Intrinsic optimizations
 + Number of tests: 415
 + FPS: 55.22
 + Milliseconds per frame: $18.109 \pm 0.009$
 + Best  frame: 18.03 ms
 + Worst frame: 20.17 ms


## Automatic vectorization by compiler
 + Number of tests: 518
 + FPS: 68.96
 + Milliseconds per frame: $14.501 \pm 0.004$
 + Best  frame: 14.44 ms
 + Worst frame: 16.28 ms


## Intrinsics on 8 threads
 + Number of tests: 2812
 + FPS: 374.95
 + Milliseconds per frame: $2.667 \pm 0.001$
 + Best  frame: 2.49 ms
 + Worst frame: 3.37 ms

# Test session
## General information:
```
RESOLUTION: 2048x1080
MAX_ITERS: 256
PLANE_WIDTH: 3.50000
CENTER: -0.500, 0.000
MM_SIZE: 256
MM_PACKS: 4
Auto vectorization size: 64
Number of threads: 8
FLOAT TYPE: float
COMPILER: g++
COMPILE FLAGS: -O3 -DNDEBUG -std=c++17  -march=native -I./include
```


## No optimizations
 + Number of tests: 27
 + FPS: 3.55
 + Milliseconds per frame: $281.761 \pm 0.441$
 + Best  frame: 280.30 ms
 + Worst frame: 290.67 ms


## Intrinsic optimizations
 + Number of tests: 396
 + FPS: 52.70
 + Milliseconds per frame: $18.976 \pm 0.008$
 + Best  frame: 18.91 ms
 + Worst frame: 21.17 ms


## Automatic vectorization by compiler
 + Number of tests: 460
 + FPS: 61.21
 + Milliseconds per frame: $16.337 \pm 0.007$
 + Best  frame: 16.25 ms
 + Worst frame: 18.36 ms


## Intrinsics on 8 threads
 + Number of tests: 2572
 + FPS: 342.94
 + Milliseconds per frame: $2.916 \pm 0.002$
 + Best  frame: 2.74 ms
 + Worst frame: 5.22 ms
